<!DOCTYPE html>
<html>
  <head>
    <title>Quickrails5</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="/" class="navbar-brand">Quickrails5</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if !current_user %>
        <li class="nav-item">
          <a href="/users/sign_up" class="nav-link">Register</a>
        </li>
        <li class="nav-item">
          <a href="/users/sign_in" class="nav-link">Sign in</a>
        </li>
        <% else %>
        <li class="nav-item">
          <a class="nav-link" rel="nofollow" data-method="delete" href="/users/sign_out">Signout</a>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  </body>
</html>
